<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 확인</title>

    <!--  CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!--JS-->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<style>
    .center-div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container center-div">
    <div class="col-md-6">
                <h2 class="text-center">비밀번호 확인</h2>
        <form id="deleteMember" th:action="@{/mypage/delete}" method="post">
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
                    </div>
            <div th:if="${error}" class="text-danger text-center mt-2">비밀번호가 일치하지 않습니다. 다시 확인해주세요.</div>
                    <div class="text-center mt-3">
                    <button type="submit" class="btn btn-danger d-block mx-auto">탈퇴</button>
                    </div>
                </form>
            </div>
</div>
</body>
</html>