<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>로그인</title>

  <!--  CSS-->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/login.css}" rel="stylesheet" />

  <!--JS-->
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
<main class="form-signin w-100 m-auto">
  <form th:action="@{/member/login}" method="post">
    <h1 class="h3 mb-4 fw-normal text-center">로그인</h1>
    <div class="form-floating">
      <input
              type="text"
              class="form-control"
              id="username" name="username"
              placeholder="Id"
      />
        <label for="username">아이디</label>
    </div>
    <div class="form-floating">
      <input
              type="password"
              class="form-control"
              id="password" name="password"
              placeholder="Password"
      />
      <label for="password">비밀번호</label>
    </div>
    <div class="row">
      <div class="col">
        <button
                class="btn btn-outline-primary w-100 py-2 text-right"
                type="button"
                th:onclick="|location.href='/member/join'|"
        >
          회원 가입
        </button>
      </div>
      <div class="col">
        <button
                class="btn btn-primary w-100 py-2"
                type="submit"
        >
          로그인
        </button>
      </div>
    </div>
  </form>
</main>
</body>
</html>
