<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결제 성공</title>

    <!--  CSS-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!--JS-->
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <style>
        .center-div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .btn {
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div class="container center-div">
    <div class="col-md-6 text-center">
        <h2 class="text-center">결제 성공</h2>
        <a class="btn btn-primary btn-lg" th:href="@{/home}" role="button">홈으로 이동</a>
    </div>
</div>
</body>
</html>
